.app__{
  text-align: center;
}

.app__logo {
  height: 40vmin;
  pointer-events: none;
}

.app__header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__link {
  color: inherit;
}

.app__link:hover {
  background-color: white;
  color: #282c34;
}
