@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap');

@font-face {
  font-family: 'Scarlett';
  src: url('/fonts/Scarlett-Regular.ttf') format('woff2'),
    url('/fonts/Scarlett-Regular.otf') format('woff');
}

body {
  margin: 0;
  font-family: 'Scarlett', 'Annie Use Your Telescope', cursive,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mobileSelect .content .fixWidth {
  width: 95% !important;
}

.mobileSelect .wheels .wheel .selectContainer li {
  font-size: 25px !important;
}

a {
  text-decoration: none;
  color: inherit;
}
